/* default Selector */
body {
	font-family: "µ¸¿ò", "Arial", "Verdana";
	font-size: 12px; color:#666666;
	text-align:left;
	background-color:#ffffff;
 }

td table {text-align:left;}

a{text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none; cursor:pointer;}

/* ¸µÅ©½ºÅ¸ÀÏ */
span.pointPink {color:#F1679B;}
span.pointPink_B {font-weight:bold; color:#F1679B;}

/* Type Selector */
img, fieldset, button {border:none;}
li {list-style:none;}
textarea {overflow:auto;}
select   { font-size:12px; font-family: "µ¸¿ò","Arial","Verdana";  color:#333333; border:1px solid #cccccc;}
html:first-child select{padding-right:6px; height:20px;} /* Opera 9 & Below Fix */
option {padding-right:6px;} /* Firefox Fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */
.search_sel { height:21px; font-size:12px; font-family: "µ¸¿ò","Arial","Verdana";  color:#333333; border:1px solid #5f5f5f;}
.disBlock {display:block;}
.disInline {display:inline;}
.gnbmargin {margin:5px 0 10px 0;}
.comborder {border:1px solid #d9d9d9;}
.floatLeft {float:left}
.floatRight {float:right}
.margin10 {margin-bottom:10px;}
.margin15 {margin-bottom:15px;}
.default_1101 {font-size:11px; letter-spacing:-1px;}
.clearB {clear:both;}

/* Layout Selector */
#wrap {width:925px; margin:0 auto; position:relative;} /* ÀüÃ¼¸¦ °¨½Î´Â div */

/* GNB ½ÃÀÛ */
#header {width:925px;}
#header *{margin:0; padding:0; font-family: "µ¸¿ò", Dotum, "Arial", "Verdana", Dotum,Sans-serif; font-size: 12px;}
#header a{color: #333333; text-decoration: none;}
#header a:hover {text-decoration:none;}
#header img {display:block;}
#header .ci {margin:0 0 0 40px; display:inline-block; vertical-align:top;}
#header .logintxt {font-size:11px; color:#787878;}
#header .ranking {}
#header .ranking a{font-size:12px; color:#ffffff; margin-left:4px;}
#header .ranking a:hover{text-decoration:none; margin-left:4px;}
#header #Ser_rank {width:165px; border:1px solid #d3d3d3;}
#header #Ser_rank dl#rank_txt{margin-top:7px; margin-left:10px;}
#header #Ser_rank dl#rank_txt dd{padding-bottom:5px;}
#header #Ser_rank dl#rank_txt a{color:#333333;}
#header #Ser_rank dl#rank_txt a:hover{font-weight:bold; color:#FF981A;}
#header .ranking img {vertical-align:top;}
dl#rank_txt dd * {vertical-align:middle; }

/* ¸®½ºÆ® */
.numSt {POSITION: relative; TEXT-ALIGN: center; WIDTH: 100%; MARGIN-BOTTOM: 20px; HEIGHT: 40px}
.numSt P {MARGIN: 0px; PADDING-TOP: 12px}
.numSt A {TEXT-ALIGN: center; DISPLAY: inline; VERTICAL-ALIGN: middle}
.numSt * {VERTICAL-ALIGN: middle}
.numSt A.num_dis {BORDER-BOTTOM: #c7c7c7 1px solid; POSITION: relative; BORDER-LEFT: #c7c7c7 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; MARGIN: 0px 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: inline-block; COLOR: #666; BORDER-TOP: #c7c7c7 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c7c7c7 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px; etter-spacing: -1px}
.numSt A.num_on {BORDER-BOTTOM: #8691c7 1px solid; POSITION: relative; BORDER-LEFT: #8691c7 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; BACKGROUND-COLOR: #8691c7; MARGIN: 0px 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: inline-block; COLOR: #fff; BORDER-TOP: #8691c7 1px solid; BORDER-RIGHT: #8691c7 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px; etter-spacing: -1px}
.numSt A.numBtn {BORDER-BOTTOM: #999 1px solid; POSITION: relative; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #999; MARGIN: 0px 3px; PADDING-LEFT: 6px; LETTER-SPACING: -1px; PADDING-RIGHT: 6px; DISPLAY: inline-block; COLOR: #fff; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 4px}